html, body {
    background-color: #708090;
}

.row {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.banner a, .banner, .sidebar a {
    color: #ffffff;
}

.banner a:hover, .sidebar a:hover {
    color: #663399;
}

.shop-name {
    background-color: #663399;
}

.sidebar h5 {
    padding-top: 10px;
}

.main-content {
    background-color: #ffffff;
}

.index-tiles, .product-content {
    height: 100vh;
}

.product a, .category a {
    color: #663399;
}

.product a:hover, .category a:hover {
    color: #fb8c00;
}

.description{
    width:300px;
}